<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Bienvenidos a</div>
        <div class="masthead-subheading">Oracle Cloud Infrastructure</div>
        <div class="masthead-heading text-uppercase">From Zero To Hero</div>
        <div class="masthead-heading">{{user.displayName}}</div>
    </div>
</header>
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Acerca De</h2>
            <h3 class="section-subheading text-muted">Es una iniciativa que consiste en aprender todas las
                funcionalidades de Oracle Cloud Infrastructure iniciando con las bases hasta llegar a un nivel avanzado
                de crear automatizaciones como todo un profesional.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/about/1.jpg"
                        alt="..." />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Chapter 1</h4>
                        <h4 class="subheading">Core</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Compute, Networking, Storage, Simple App</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/about/2.jpg"
                        alt="..." />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Chapter 2</h4>
                        <h4 class="subheading">Database</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Autonomous, Base Database</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/about/4.jpg"
                        alt="..." />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Chapter 3</h4>
                        <h4 class="subheading">High Availability &amp; Scalability</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Load Balancer, Autoscaling</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/about/3.jpg"
                        alt="..." />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Chapter 4</h4>
                        <h4 class="subheading">Observability</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Monitoring, Notifications</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/about/5.jpg"
                        alt="..." />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Chapter 5</h4>
                        <h4 class="subheading">Connections</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">VPN Site-to-Site</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/about/6.jpg"
                        alt="..." />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Chapter 6</h4>
                        <h4 class="subheading">MySQL</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Features, Installation, Tools</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/about/7.jpg"
                        alt="..." />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Chapter 7</h4>
                        <h4 class="subheading">IAM &amp; Security</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Features, Installation, Tools</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        From
                        <br />
                        Zero To
                        <br />
                        Hero!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nuestro Equipo</h2>
            <h3 class="section-subheading text-muted">Estos son los ponentes principales del &aacute;rea de conocimiento
                para esta propuesta.</h3>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/assets/img/team/1.jpg" alt="..." />
                        <h4>Daniela Tabares</h4>
                        <p class="text-muted">Cloud Solution Architect</p>
                        <a class="btn btn-dark btn-social mx-2" target="_blank"
                            href="https://www.linkedin.com/in/daniela-tabares-uribe/"
                            aria-label="Daniela Tabares LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/assets/img/team/6.jpg" alt="..." />
                        <h4>Jorge Mosquera</h4>
                        <p class="text-muted">Cloud Solution Engineer</p>
                        <a class="btn btn-dark btn-social mx-2" target="_blank"
                            href="https://www.linkedin.com/in/jorge-l-mosquera/"
                            aria-label="Jorge Mosquera LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/assets/img/team/2.png" alt="..." />
                        <h4>Juan Orjuela</h4>
                        <p class="text-muted">Cloud Solution Engineer</p>
                        <a class="btn btn-dark btn-social mx-2" target="_blank"
                            href="https://www.linkedin.com/in/juan-carlos-orjuela-orozco-b162a83b/"
                            aria-label="Juan Orjuela LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/assets/img/team/4.jpg" alt="..." />
                        <h4>Lucia Diaz</h4>
                        <p class="text-muted">Cloud Solution Engineer</p>
                        <a class="btn btn-dark btn-social mx-2" target="_blank"
                            href="https://www.linkedin.com/in/lucia-diaz-mayorga-54086887/"
                            aria-label="Lucia Diaz LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/assets/img/team/5.jpg" alt="..." />
                        <h4>Luisa Alvarez</h4>
                        <p class="text-muted">Cloud Solution Engineer</p>
                        <a class="btn btn-dark btn-social mx-2" target="_blank"
                            href="https://www.linkedin.com/in/luisa-alvarezl/"
                            aria-label="Luisa Alvarez LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/assets/img/team/3.jpg" alt="..." />
                        <h4>Ruthford Jay</h4>
                        <p class="text-muted">Cloud Solution Engineer</p>
                        <a class="btn btn-dark btn-social mx-2" target="_blank"
                            href="https://www.linkedin.com/in/root4j/" aria-label="Ruthford Jay LinkedIn Profile"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
</section>