<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Bienvenidos a</div>
        <div class="masthead-subheading">Oracle Cloud Infrastructure</div>
        <div class="masthead-heading text-uppercase">From Zero To Hero</div>
    </div>
</header>
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contenido Privado</h2>
            <h3 class="section-subheading text-muted">En este caso estamos evaluando la funcionalidad del IAM, por lo tanto, el contenido de nuestra pagina <strong>From Zero To Hero</strong> no se visualizar&aacute; hasta que se autentique un usuario registrado en el Dominio de Seguridad de la aplicaci&oacute;n. Si no cuentas con usuario valido, p&iacute;deles a los administradores de <strong>From Zero To Hero</strong> que te ayuden.</h3>
        </div>
    </div>
</section>